.message-box__name username
.message-box__time 2018/5/7 21:30
%p.message-box__text こんにちわ
.message-box
.message-box__name username2
.message-box__time 2018/5/7 23:30
%p.message-box__text こんばんわですよね？
.message-box
.message-box__name username2
.message-box__time 2018/5/7 23:30
%p.message-box__text こんばんわですよね？
.message-box
.message-box__name username2
.message-box__time 2018/5/7 23:30
%p.message-box__text こんばんわですよね？
