.all{
height:100%;
}
div{
  margin:0;
  padding:0;
}
.notice{
  background: #38AEF0;
  height:24px;
  width:100%;
  text-align: center;
  color:white;
}
.side-bar{
  margin:0;
  padding:0;
  float:left;
}
header{
  width:260px;
  height:100px;
  background-color:#253141;
  padding:0 20px;
  line-height: 100px;
    h3{
      display:inline-block;
      font-weight:bold;
      font-size:16px;
      color:#FFF;
    }
}
.groups{
  width:260px;
  background-color:#2f3e51;
  color:#FFF;
  padding:20px;
  height:calc(100vh - 100px);
}

.group--name{
  margin-bottom:5px;
  font-size:15px;
}
.group--message{
  margin-bottom:40px;
  font-size:11px;
}

//右側全体
.chat{
  width:calc(100vw - 300px);
  background-color: white;
  float:right;
}

//グループ名
.group-header{
  height:100px;
  padding:0 40px;
}
.group-header--samary{
  width:190px;
  margin-top:35px;
  display:inline-block;
  font-size: 20px;
  color:#333;
}
.group-header--name{
  color:#999999;
  font-size:12px;
  margin-top:15px;
  ul{
    margin:0;
  }
    li{
      display: inline-block;
      margin-right: 5px;
    }
}

.group--edit{
  border:1px solid #38AEF0;
  float:right;
  height:40px;
  line-height:40px;
  margin-top:28px;
  padding:0 20px;
}

// ここからメッセージエリア
.message-area{
  background-color:#FAFAFA;
  height:calc(100vh - 100px - 90px);
  overflow:scroll;
  padding:46px 40px 0;
  box-sizing:border-box;

}
.message-box{
  padding-bottom:40px;
  background-color: white;
}
.message-box--name{
font-size: 16px;
font-weight: bold;
color:#434A54;
margin-right:10px;
display: inline-block;
float:left;
}

.message-box--time{
font-size: 12px;
color:#999;
}
.message-box--text{
  clear:both;
  font-size:14px;
  color:#434A54;
}

// ここから投稿form

.form{
  background-color: #DDD;
  padding:20px 50px 20px 40px;
  height:90px;
}
input.form--textbox{
  width:calc(100% - 150px);
  height:50px;
  padding-left:10px;
  font-size: 16px;
  color:#434A54;
}

input.form--submit{
  background-color: #38AEF0;
  border:none;
  color:#FFF;
  float:right;
  font-size: 16px;
  height:50px;
  margin-left:15px;
  padding:0 30px;
}



// .block {
//    background-color: #000;
//   .title {
//     color: #FFF;
//     font-size: 70px;
//     text-align: center:
//   }
//   .text {
//     font-size: 15px;
//     color: #FFF;
//     span {
//       color: red;
//       font-size: 20px;
//     }
//   }
